<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class="active"><a href="index.html"><i class="la la-home"></i><span class="menu-title" data-i18n="Dashboard Hospital">Dashboard TECLAB</span></a>
      </li>
      <li class=" navigation-header"><span data-i18n="Professional">Centros Medicos</span><i class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="Professional"></i>
      </li>
      <li class=" nav-item"><a href="#"><i class="la la-edit"></i><span class="menu-title" data-i18n="Appointment">Centros Médicos</span></a>
        <ul class="menu-content">
          <li><a class="menu-item" href="hospital-doctor-schedule.html"><i></i><span>Agregar Centro Médico</span></a></li>
          <li><a class="menu-item" href="hospital-doctor-schedule.html"><i></i><span>Todos los Centros Médico</span></a></li>
        </ul>
      </li>
      <li class=" nav-item"><a href="#"><i class="la la-stethoscope"></i><span class="menu-title" data-i18n="Doctors">Doctors</span></a>
        <ul class="menu-content">
          <li><a class="menu-item" href="hospital-doctors-list.html"><i></i><span>All Doctors</span></a>
          </li>
          <li><a class="menu-item" href="hospital-add-doctor.html"><i></i><span>Add Doctors</span></a>
          </li>
          <li><a class="menu-item" href="hospital-doctor-profile.html"><i></i><span>Doctor Profile</span></a>
          </li>
        </ul>
      </li>
      <li class=" nav-item"><a href="#"><i class="la la-users"></i><span class="menu-title" data-i18n="Patients">Orden de Examen Clinico</span></a>
        <ul class="menu-content">
          <li><a class="menu-item" href="hospital-patients-list.html"><i></i><span>Todas las solicitudes</span></a>
          </li>
          <li><a class="menu-item" href="hospital-add-patient.html"><i></i><span>Add Patients</span></a>
          </li>
          <li><a class="menu-item" href="hospital-patient-profile.html"><i></i><span>Patient Profile</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
