<app-header></app-header>
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="form-group row">
        <label class="col-md-3 label-control" for="eventRegInput5">Solicitud de analisis</label>
        <div class="col-md-6 mx-auto">
          <input type="number" id="eventRegInput5" class="form-control" name="contact" placeholder="contact number" [(ngModel)]="numeroAnalisis">
        </div>
        <div class="col-md-3 mx-auto">
          <button class="btn btn-primary" (click)="getAllAnalysis()">Buscar análisis</button>
        </div>
      </div>
        </div>
      </div>
      <br>
      <!-- Hospital Info cards -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <h1 class="text-center">Solicitud de Analisis # {{analisis.id}}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <label class=" label-control">Lista de análisis solicitados por el doctor</label>
        </div>
      </div>

      <br>
      <div class="row">

        <div class="col-xl-3 col-lg-6 col-md-6 col-12" *ngFor="let item of analisis?.analysisList; let i = index">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="la la-user-md font-large-2 success"></i>
                  </div>
                  <div class="media-body text-right">
                    <h5 class="text-muted text-bold-500">{{item.nombre}}</h5>
                    <h3 class="text-bold-600">{{item.nombre}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Appointment Table Ends -->
    </div>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12">
            <div class="form-group">
              <label class=" label-control" for="projectinput9">Tipo de obtencion de laboratorio</label>
              <input class="form-control border-primary" type="tel" placeholder="Contact Number" id="userinput7" [(ngModel)]="tipoEntrega" disabled>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-12">
            <div class="form-group">
              <label class=" label-control" for="projectinput9">Observación</label>
              <div class="mx-auto">
                <textarea id="projectinput9" rows="5" class="form-control" name="comment" placeholder="Sobre los analsis" [(ngModel)]="observacion" disabled></textarea>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
